{% extends "base.html" %}

{% block content %}
{% load static %}
    
    <div id="calendars">

        {% if user.is_authenticated %}

        <h2>Upload your Thesis (.docx only!)</h2>

        <form id="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="docx_file" accept=".docx" required>
            <button id="uploadButton" data-upload-url="{% url 'upload_docx' %}">Upload</button>
        </form>
    
        {% endif %}


        {% if user.is_authenticated %}
        <div id="user-calendar">
            <h2>Your Contribution Calendar</h2>
            <div id="chart"></div>
            <script>
                var graphData = JSON.parse('{{ graph|escapejs }}');
                var graphConfig = JSON.parse('{{ config|escapejs }}');
                Plotly.newPlot('chart', graphData.data, graphData.layout, graphConfig);
            </script>
        </div>
        {% endif %}

        <h2>Community Contribution Calendars</h2>
        <div id="calendar-container"></div>
    </div>
{% endblock %}

