{% extends "base.html" %}

{% block content %}
{% load static %}
    <script src="{% static 'js/main.js' %}"></script>

    <div id="calendars">

        {% if user.is_authenticated %}

        <div style="margin-top:40px; margin-bottom:40px;">
            <h2>Upload your Thesis</h2>

            <form id="uploadForm" class="d-flex align-items-center justify-content-center flex-row gap-2" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="docx_file" accept=".docx,.tex" required>
                <button id="uploadButton" data-upload-url="{% url 'upload_docx' %}" data-bs-toggle="modal" data-bs-target="#exampleModal">Upload</button>
            </form>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <div id="loadingSpinner" class="spinner-border text-success" role="status" style="display: none; width: 20px; height: 20px;"></div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <h2>Your Contribution Calendar</h2>
        <div id="user-calendar">
            <h3 class="user-label">{{ user.username }} - {{ user.university }} - {{ user.thesis_title }}</h3>
            <div id="chart"></div>
            <script>
                var graphData = JSON.parse('{{ graph|escapejs }}');
                
                setTimeout(() => {
                    Plotly.newPlot('chart', graphData.data, graphData.layout, { displayModeBar: false });
                }, 100);
            </script>
        </div>
        {% else %}
        <h2>Your Contribution Calendar</h2>
        <div id="user-calendar">
            <h3 class="mt-2 d-flex justify-content-center"><a href="{% url 'account_signup' %}" style="color: green;margin-right:5px;">Sign up</a> to save your contribution progress</h3>
        </div>
        {% endif %}

        <h2>Community Contribution Calendars</h2>
        <div id="calendar-container" class="mb-4"></div>
    </div>
{% endblock %}

