{% extends "base_noauth.html" %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                <strong>{{ field|title }}:</strong> {{ errors|striptags }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <h1>Your Profile Information</h1>
        <div class=" user-label d-flex  flex-column justify-content-center" style="width:45%">

            <label for="username" class="user-label mt-3">Username:</label>
            <div >
                <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}" required>
            </div>
        
            <label for="email" class="user-label mt-3">Email:</label>
            <div >
                <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}" required>
            </div>
        
            <label for="university" class="user-label mt-3">University:</label>
            <div class="d-flex" >
                <input type="text" id="university" name="university" class="form-control" value="{{ user.university|default:'' }}" required>
                {% if has_missing_info %}
                    <span class="warning-icon" data-bs-toggle="tooltip" title="Fill out this field to complete your profile">!</span>
                {% endif %}
            </div>

            <label for="thesis_title" class="user-label mt-3">Thesis Title:</label>
            <div class="d-flex" >
                <input type="text" id="thesis_title" name="thesis_title" class="form-control" value="{{ user.thesis_title|default:'' }}" required>
                {% if has_missing_info %}
                    <span class="warning-icon" data-bs-toggle="tooltip" title="Fill out this field to complete your profile">!</span>
                {% endif %}
            </div>

            <a href="{% url 'password_reset' %}" class="btn btn-outline-danger my-4">Reset Password</a>
            
            <button type="submit" class="btn btn-primary mb-4">Save Changes</button>
        </div>

    </form>

{% endblock %}